<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Eventex - O evento MAIS SENSACIONAL depois do Dev in Rio</title>

  
  <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/extras.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Aldrich">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu">
  

  <script src="{{ STATIC_URL }}js/vendor/custom.modernizr.js"></script>

</head>
<body>
<header>
		<div class="row">
				<div class="large-5 large-centered columns">
					<h2 id="logo">eventex</h2>
				</div>
				<div class="large-6 large-centered columns">
					<p>O evento mais sensacional depois do Dev in Rio</p>
					<p>Você não pode perder esta oportunidade!</p>
				</div>
				<div class="large-4 large-centered columns">
					<p><a href="#" class="large secondary button">Inscrições em breve</a></p>
				</div>
		</div>
</header>


  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '{{ STATIC_URL }}js/vendor/zepto' : '{{ STATIC_URL }} js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="{{ STATIC_URL }}js/foundation.min.js"></script>
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
